.wrapper {
    height: 40rem;
    margin: 2rem 4rem 0 4rem;
    overflow: hidden;
    overflow-x: auto;
}

.tbody {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #6a236f;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: #d1a2d2;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.494);
}