.wrapper {
    height: auto;
    max-height: 40rem;
    margin: 1rem 4rem 0 4rem;
    overflow: hidden;
    overflow-x: auto;
}

.tbody {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: var(--purple-300);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: var(--purple-700);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--purple-800);
}

.expansoes {
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-height: 4rem;
    max-width: 30rem;
    overflow: hidden;
}

.bt-excluir:hover {
    background-color: var(--red-500);
    color: var(--white);
}