.wrapper {
    height: 40rem;
    margin: 2rem 4rem 0 4rem;
    overflow: hidden;
}

.tbody {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #FFF3CD;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: #a49974;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.494);
}