.input-boardgame {
    background-color: var(--purple-500);
    color: var(--white);
}

.button-inserir {
    background-color: black;
    color: var(--white);
}

.texto-home {
    color: black;
    flex: 50%;
    width: 80%;
}

.texto-home h2 {
    color: var(--purple-900);
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.banner {
    display: flex;
    justify-content: center;
    display: flex;
    color: var(--white);
    flex: 30%;
    overflow: hidden;
    background-size: contain;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
    transition: 1s;
}

.banner img {
    width: 100%;
    height: 100%;
}

.banner:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 2px var(--purple-800);
    z-index: 2;
}

.bt-home {
    background-color: var(--purple-500);
    color: var(--white);
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.5s;
}

.bt-home:hover {
    border: 1px solid var(--purple-500);
}

.insert-textarea {
    width: 100%;
    max-width: 50rem;
    height: 70%;
    color: var(--purple-900);
}

.container-insert {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.insert-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.link-ia {
    color: var(--purple-500);
    font-weight: bold;
    text-decoration: none;
}

.link-ia:hover {
    color: var(--purple-900);
}

.total-jogos {
    margin: 1rem 4rem 0;
}

.home-img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.select-game {
    background-color: var(--purple-500);
    color: var(--white);
}