:root {
    --white: #ffffff;

    --purple-100: #E0D7FF;
    --purple-300: #9F75FF;
    --purple-500: #6f4ebd;
    --purple-600: #5d3ebc;
    --purple-700: #492cb3;
    --purple-800: #3e2a6c;
    --purple-900: #1b0033;
}

body {
    background-color: var(--white);
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}